@use "../../variable/mixin";
@use "../../variable/color";
@use "../../variable/padding";
@use "../../variable/size";


nav #nav-checkbox {
    display: none;

    &:checked ~ .nav-button > .line-1 {
        @include mixin.transform(translateY(5px) rotateZ(45deg));
        background-color: color.$light-blue;
    }
    
    &:checked ~ .nav-button > .line-2 {
        opacity: 0;
    }
    
    &:checked ~ .nav-button > .line-3 {
        @include mixin.transform(translateY(-5px) rotateZ(-45deg));
        background-color: color.$light-blue;
    }
    
    &:checked ~ .nav-bar-container {
        @include mixin.transform(translateX(0));
    }
}

nav .nav-button {
    @include mixin.flex(column, center, center);
    @include mixin.border-radius(50px);
    @include mixin.width-height(size.$burger-menu-circle, size.$burger-menu-circle);
    position: fixed;
    z-index: 99;
    background-color: color.$metallic-blue;
    border: solid 2px color.$light-blue;
    top: padding.$TR-burger-menu;
    right: padding.$TR-burger-menu;

    span {
        @include mixin.width-height(25px, 2px);
        background-color: color.$off-white;
        transition: all 0.2s linear;
    }

    .line-1 {
        background: linear-gradient(to right, color.$light-blue 50%, transparent 50%);
    }
    
    .line-2 {
        margin: 3px 0;
    }
    
    .line-3 {
        background: linear-gradient(to left, color.$light-blue 50%, transparent 50%);
    }
}

nav .nav-bar-container {
    @include mixin.width-height(size.$width-nav-bar, 100vh);
    @include mixin.flex(column, space-between, center);
    @include mixin.transform(translateX(calc(-1 * size.$width-nav-bar)));
    background-color: color.$dark-blue;
    color: color.$off-white;
    border-left: size.$border-left-nav-bar solid color.$dark-blue;
    padding: padding.$TB-nav-bar 0;
    position: fixed;
    transition: all 0.15s linear;

    .logo {
        @include mixin.flex(column, center, center);

        img {
            @include mixin.width-height(70px, auto);
            margin-right: size.$border-left-nav-bar;
        }
    }

    .nav-links {
        @include mixin.flex(column, center, center);
        @include mixin.width-height(100%, 100%);

        a {
            @include mixin.width-height(100%, auto);
            @include mixin.transition(transform, 0.1s, linear);
            text-align: center;
            color: color.$off-white;
            margin: 5px 0;
            font-size: 18px;
            padding: 15px;
        }

        .active {
            border-bottom-left-radius: 30px;
            border-top-left-radius: 30px;
            background-color: color.$metallic-blue;
            color: color.$off-white;
            padding: 15px;
        }

        .log-out {
            @include mixin.flex(row, center, center);
            margin-top: 20px;

            .log-out-text {
                margin-left: 20px;
            }
        }
    }
}