@use "../../variable/size";
@use "../../variable/padding";
@use "../../variable/color";
@use "../../variable/mixin";
@use "../../variable/button";

.section-global {
    @include mixin.flex(row, center, flex-start);
    padding: padding.$TB-body padding.$LR-body padding.$TB-body calc(size.$width-nav-bar + padding.$LR-body);

    article {
        @include mixin.width-height(1100px, auto);

        #download-container {
            @include mixin.width-height(auto, 55px);
            @include mixin.flex(row, flex-start, center);
            margin-bottom: 60px;

            #download-img {
                @include mixin.width-height(auto, 55px);
                margin-right: 20px;
            }

            #download-text  {
                @include mixin.flex(column, center, flex-start);
                line-height: 1.2;
                font-size: 27px;
            }
        }

        .title {
            @include mixin.flex(row, flex-start, center);
            font-size: 45px;
            margin-bottom: 60px;
            color: color.$off-white;
            font-weight: bold;

            .title-icon{
                font-size: 45px;
                font-weight: bold;
            }
        }

        .download-detail-container {
            @include mixin.flex(column, flex-start, stretch);

            .download-detail-book-container {
                @include mixin.flex(row, flex-start, center);
                @include mixin.width-height(100%, 150px);
                margin-right: 35px;
                margin-bottom: 35px;
                flex-shrink: 0;

                .download-detail-book-img {
                    @include mixin.width-height(auto, 150px);
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                }

                .download-detail-book-text {
                    @include mixin.flex(column, center, flex-start);
                    @include mixin.width-height(100%, 100%);
                    padding: 15px 50px;
                    font-size: 16px;
                    background-color: color.$dark-blue;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;

                    .download-detail-book-title {
                        color: color.$light-blue;
                        font-style: italic;
                    }

                    a {
                        @include button.button-fill-card();
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}