@use "../../variable/size";
@use "../../variable/padding";
@use "../../variable/color";
@use "../../variable/mixin";
@use "../../variable/button";

.section-global {
    @include mixin.flex(row, center, flex-start);
    padding: 40px 20px;

    article {
        @include mixin.width-height(1100px, auto);

        #book-intro-container {
            @include mixin.width-height(auto, 55px);
            @include mixin.flex(row, flex-start, center);
            margin-bottom: 60px;

            #book-intro-img {
                @include mixin.width-height(auto, 55px);
                margin-right: 20px;
            }

            #book-intro-text  {
                @include mixin.flex(column, center, flex-start);
                line-height: 1;
                font-size: 30px;
            }
        }

        .title {
            font-size: 45px;
            margin-bottom: 60px;
        }

        .books-container {
            @include mixin.flex(column, flex-start, stretch);

            .book-item-info {
                @include mixin.border-radius(15px);
                background-color: color.$dark-blue;
                padding: 20px 30px;
                margin-bottom: 20px;

                .info-container {
                    margin-bottom: 30px;

                    .detail-label {
                        font-weight: bold;
                    }
                }

                .update-book {
                    @include mixin.width-height(100%, auto);
                    @include mixin.flex(row, center, center);
                    @include button.button-fill();

                    margin-bottom: 30px;
                }

                .delete-book {
                    @include mixin.width-height(100%, auto);
                    @include mixin.flex(row, center, center);
                    @include button.button-empty();
                }
            }
        }
    }
}