@use "../../variable/size";
@use "../../variable/padding";
@use "../../variable/color";
@use "../../variable/mixin";
@use "../../variable/button";

.section-global {
    @include mixin.flex(row, center, flex-start);
    padding: 40px 20px;

    article {
        @include mixin.width-height(1100px, auto);

        #book-container {
            @include mixin.width-height(auto, 55px);
            @include mixin.flex(row, flex-start, center);
            margin-bottom: 60px;

            #book-img {
                @include mixin.width-height(auto, 55px);
                margin-right: 20px;
            }

            #book-text  {
                @include mixin.flex(column, center, flex-start);
                line-height: 1.2;
                font-size: 27px;
            }
        }

        .title {
            @include mixin.flex(row, flex-start, center);
            font-size: 35px;
            margin-bottom: 60px;
            color: color.$off-white;
            font-weight: bold;

            .title-icon{
                font-size: 35px;
                font-weight: bold;
            }
        }

        .container-book-img-download {
            @include mixin.flex(row, flex-start, flex-start);
            margin-bottom: 70px;

            .book-img {
                margin-right: 40px;
            }

            .book-title-download {
                @include mixin.flex(column, flex-start, flex-start);

                .book-title {
                    font-size: 18px;
                    color: color.$light-blue;
                    margin-bottom: 10px;
                }

                .book-author {
                    font-size: 16px;
                    margin-bottom: 30px;
                }

                .button-download {
                    @include mixin.width-height(auto, auto);
                    @include mixin.flex(row, center, center);
                    color: color.$off-white;

                    span {
                        font-size: 45px;
                    }
                }
            }
        }

        .title-description, .title-info {
            font-size: 30px;
            margin-bottom: 30px;
        }

        .description-container {
            margin-bottom: 50px;
        }

        .info-container .detail-label {
            font-weight: bold;
        }
    }
}