@use "../../variable/size";
@use "../../variable/padding";
@use "../../variable/color";
@use "../../variable/mixin";
@use "../../variable/button";

.section-global {
    @include mixin.flex(row, center, flex-start);
    padding: padding.$TB-body padding.$LR-body;

    article {
        @include mixin.width-height(1100px, auto);

        #welcome-container {
            @include mixin.width-height(auto, 55px);
            @include mixin.flex(row, flex-start, center);
            margin-bottom: 60px;

            #welcome-img {
                @include mixin.width-height(auto, 55px);
                margin-right: 20px;
            }

            #welcome-text  {
                @include mixin.flex(column, center, flex-start);
                line-height: 1;

                #welcome-word {
                    font-size: 25px;
                }

                #username-word {
                    color: color.$light-blue;
                    font-size: 35px;
                }
            }
        }

        .title {
            font-size: 45px;
            margin-bottom: 60px;
        }

        .last-container {
            @include mixin.flex(column, flex-start, stretch);

            .last-book-container {
                @include mixin.flex(row, flex-start, center);
                @include mixin.width-height(100%, 150px);
                margin-right: 35px;
                margin-bottom: 35px;
                flex-shrink: 0;

                .last-book-img {
                    @include mixin.width-height(auto, 150px);
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                }

                .last-book-text {
                    @include mixin.flex(column, center, flex-start);
                    @include mixin.width-height(100%, 100%);
                    padding: 15px 50px;
                    font-size: 14px;
                    background-color: color.$dark-blue;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;

                    .last-book-title {
                        color: color.$light-blue;
                        font-style: italic;
                    }

                    a {
                        @include button.button-fill-card();
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}