@use "../../variable/size";
@use "../../variable/padding";
@use "../../variable/color";
@use "../../variable/mixin";
@use "../../variable/button";

.section-global {
    @include mixin.flex(row, center, flex-start);
    padding: padding.$TB-body padding.$LR-body padding.$TB-body calc(size.$width-nav-bar + padding.$LR-body);

    article {
        @include mixin.width-height(1100px, auto);

        #update-user-container {
            @include mixin.width-height(auto, 55px);
            @include mixin.flex(row, flex-start, center);
            margin-bottom: 60px;

            #update-user-img {
                @include mixin.width-height(auto, 55px);
                margin-right: 20px;
            }

            #update-user-text  {
                @include mixin.flex(column, center, flex-start);
                line-height: 1;

                .update-user-word {
                    font-size: 30px;
                }
            }
        }

        .title {
            font-size: 45px;
            margin-bottom: 60px;
        }

        form {
            @include mixin.width-height(100%, auto);
            @include mixin.flex(column, center, center);
            margin-bottom: 20px;

            div {
                @include mixin.width-height(100%, auto);
                @include mixin.flex(column, center, flex-start);
                margin-bottom: 50px;

                label {
                    color: color.$gray;
                    font-size: 14px;
                }

                input {
                    @include mixin.width-height(100%, auto);
                    background-color: transparent;
                    border: none;
                    border-bottom: color.$light-blue solid 1px;
                    outline: none;
                    padding: 5px 0;
                    color: color.$off-white;
                }
            }

            #update {
                @include mixin.width-height(100%, auto);
                @include button.button-fill();
                text-align: center;
            }
        }
    }
}