@use "../../variable/size";
@use "../../variable/padding";
@use "../../variable/color";
@use "../../variable/mixin";
@use "../../variable/button";

.section-global {
    @include mixin.flex(row, center, flex-start);
    padding: padding.$TB-body padding.$LR-body padding.$TB-body calc(size.$width-nav-bar + padding.$LR-body);

    article {
        @include mixin.width-height(1100px, auto);

        #search-container {
            @include mixin.width-height(auto, 55px);
            @include mixin.flex(row, flex-start, center);
            margin-bottom: 60px;

            #search-img {
                @include mixin.width-height(auto, 55px);
                margin-right: 20px;
            }

            #search-text  {
                @include mixin.flex(column, center, flex-start);
                line-height: 1.2;

                .search-word {
                    font-size: 27px;
                }
            }
        }

        .search-bar {
            @include mixin.flex(row, center, center);
            @include mixin.width-height(100%, 50px);
            @include mixin.border-radius(50px);
            border: 2px solid color.$light-blue;
            margin-bottom: 60px;

            #search-bar-input {
                @include mixin.width-height(100%, 100%);
                padding: 0 40px;
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
                outline: none;
                border: none;
                background-color: transparent;
                color: color.$off-white;

                &::placeholder {
                    color: color.$gray;
                }
            }

            #search-bar-btn {
                @include mixin.width-height(auto, 100%);
                @include mixin.flex(row, center, center);
                padding: 0 40px;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                background-color: color.$light-blue;
                color: color.$metallic-blue;
                outline: none;
                border: none;
            }
        }
    }
}