@use "../../variable/color";
@use "../../variable/mixin";
@use "../../variable/button";
@use "../../variable/padding";

body {
    @include mixin.width-height(100%, auto);
    @include mixin.flex(row, center, center);
    padding: padding.$TB-body padding.$LR-body;

    min-height: 100vh;

    section {
        @include mixin.width-height(50vh, 100%);
        @include mixin.flex(column, center, center);

        img {
            @include mixin.width-height(130px, auto);
            margin-bottom: 50px;
        }

        form {
            @include mixin.width-height(100%, auto);
            @include mixin.flex(column, center, center);
            margin-bottom: 20px;

            div {
                @include mixin.width-height(100%, auto);
                @include mixin.flex(column, center, flex-start);
                margin-bottom: 50px;

                label {
                    color: color.$gray;
                    font-size: 14px;
                }

                input {
                    @include mixin.width-height(100%, auto);
                    background-color: transparent;
                    border: none;
                    border-bottom: color.$light-blue solid 1px;
                    outline: none;
                    padding: 5px 0;
                    color: color.$off-white;
                }
            }

            #sign {
                @include mixin.width-height(100%, auto);
                @include button.button-fill();
                text-align: center;
            }
        }

        a {
            @include mixin.width-height(100%, auto);
            @include button.button-empty();
            text-align: center;
        }
    }
}